@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


:root {
    --background : #000619 ;
    --primay:  #eabc14 ;
    --secondary:#0e3d01 ;
    --shadow :  #fee3814c;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../src/bg.png);
    background-size: cover;
    color: white;
}
button , img{
    cursor: pointer;
}

.container,.taskContainer,.render,.task ,.labels, .label,.holder,.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.render ,.task{
    flex-direction: column;
}
.container {
    width: 100%;
    height: 400px;
}
.container input {
    width: 600px;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 10px;

}
.container input:focus {
    outline: none;  
}
.container button {
    width: 100px;
    height: 50px;
    /* background-color: green; */
    color: white;
    border: none;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form h1 {
    margin: 16px;
}
.icon {
    width: 30px;
    height: 30px;
}
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}
.taskContainer {
    width: 800px;
    background-image: url("../src/taskBg.png");
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 16px;
    border-radius: 16px;
    transition: 0.2s;
}
.taskContainer:hover {
    box-shadow: var(--shadow) 0px 4px 12px;
    transform: scale(1.1);
}
.task {
    border: 2px solid black;
    width: 600px;
    border-radius: 12px;
    margin: 16px;
    height: 150px;
    padding: 36px;
    background-color: var(--primay);
    color: var(--background);
}
.div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
#checkDone {
    width: 20px;
    height: 20px;
}
.edit,.backHome {
    margin: 20px;
    border-radius: 8px;
}
.edit {
    background-color: var(--primay);
    color:#000619
}
.backHome {
    background-color: var(--secondary);
}
#title {
    width: 80%;
    height: 30px;
    margin: 10px;
    border: none;
}
.containerTask {
    margin-top: 200px;

}
.divTitle {
    width: 100%;
}
#addTask {
    background-color: var(--secondary);
    border-radius: 0px 8px 8px 0 ;
    margin-left: -10px;
    
}
#label{
    width:120px;
    border-radius: 0 ;
    margin-left: -10px;
    border-left: 1px solid black ;
}
.label {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #bd9400;
    color: white;
    margin: 16px;
    cursor: pointer;   
    transition: 0.2s;
}
.labelRed {
    background-color: rgba(255, 55, 0, 0.391);
}
.label:hover {
    background-color: #ebba0c;
}
.labelRed:hover {
    background-color: rgba(255, 55, 0, 0.651);
}
.holderLabel {
    width: 600px;
    height: 100px;
    background-color: red;
}
.done {
    filter: grayscale(0.8);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    transition: 0.2s;

}
.done:hover {
    filter: grayscale(0.5);
}